div.row {
    padding: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #F9EAE1;
  margin-bottom: 60px;
}

header{
  color: white;
  margin-bottom: 15px;
}

.navbar{
  background-color: #6C0E23;
}

.navbar-brand {
  font: 24pt "Dancing Script", cursive;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #44403e;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

li{
    margin: 10px;
}

a:hover{
    color: whitesmoke;
}

.card .card-img-top {
  height: 300px;
  width: 225px;
}


.card-header{
    background-color: #F19F4E
}



.shadowed
{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.modal-header{
    background-color: #F19F4E;
}

#addEntry{
    z-index: 500;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #F19F4E;
    margin: 32px;
    color: white;
    font-size: 20pt;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

#content {
  padding-top: 100px;
}
